.nav-item {
  position: relative;

  &:first-child {
    .nav-link {
      &:after {
        content: none; 
      }   
    }
  }
}

.nav-link {
  &:after {
    content: '/';
    position: absolute;
    top: 8px;
    left: -3px;
  }
}
